---
- name: Apt - Add repositiory key
  ansible.builtin.apt_key:
    state: present
    url: "{{ influxdb_repos_key_url }}"

- name: Apt - Add repository to list
  ansible.builtin.apt_repository:
    repo: "{{ influxdb_repos_stable }}"
    state: present
