# {{ ansible_managed }}

bolt-path = "{{ influxdb2_influxdb2_bolt_path }}"
engine-path = "{{ influxdb2_influxdb2_engine_path }}"
http-bind-address = "{{ influxdb2_influxdb2_bind_address }}"
log-level = "{{ influxdb2_influxdb2_log_level }}"
ui-disabled = "{{ influxdb2_influxdb2_ui_disabled }}"
{% if influxdb2_influxdb2_tls_enabled %}
tls-cert = "{{ influxdb2_influxdb2_tls_cert }}"
tls-key = "{{ influxdb2_influxdb2_tls_key }}"
{% endif %}
{{ influxdb2_influxdb2_extra_config }}